<div class="wrapper">
  <div class="header">
    <div class="map"></div>
    <div class="center">
      <img class="compas" src="../assets/compas.png">
    </div>
  </div>
  <div class="footer">

    <div class="ability-container"> 
      <div class="abilities">
        <div class="ability"></div>
        <div class="ability"></div>
        <div class="ability"></div>
        <div class="ability"></div>
        <div class="ability"></div>
        <div class="ability"></div>
        <div class="ability"></div>
        <div class="ability"></div>

      </div>
    </div>
    <div class="hud">
      <div class="inventory"> 
        <img src="../assets/inventory_slot.png">
        <img src="../assets/inventory_slot.png">
        <img src="../assets/inventory_slot.png">
        <img src="../assets/inventory_slot.png">
        <img src="../assets/inventory_slot.png">
        <img src="../assets/inventory_slot.png">
      </div>
      <div class="players">
        <div class="player">
          <div class="player-name">Vadims</div>
          <div class="player-img">
            <img width="100%" src="../assets/player1.png">
          </div>
        </div>
        <div class="player">
          <div class="player-name">Vadims</div>
          <div class="player-img">
            <img width="100%" src="../assets/player1.png">
          </div>
        </div>
        <div class="player">
          <div class="player-name">Vadims</div>
          <div class="player-img">
            <img width="100%" src="../assets/player1.png">
          </div>
        </div>
        <div class="player">
          <div class="player-name">Vadims</div>
          <div class="player-img">
            <img width="100%" src="../assets/player1.png">
          </div>
        </div>
        <div class="player">
          <div class="player-name">Vadims</div>
          <div class="player-img">
            <img width="100%" src="../assets/player1.png">
          </div>
        </div>
      </div>
      <div class="quest"></div>
    </div>
  </div>
</div>